@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "Exo 2";
  background-color: #ffd062;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-left: 3px solid #f56a2a;
  background-color: #dddddd ;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.logoMenu {
  height: 4vmin;
  padding-left: 2%;
  pointer-events: none;
}

